[2015-01-17 15:29] valentin12 opened #1 "Forwarding on click on a selected settings option"
When you are clicking on an option in the settings ([Profile settings] (https://www.quantifiedcode.com/#/settings) or Repo settings) which is already selected you get forwarded to a page with the content "false" and the address "javascript:false;".

[2015-01-17 15:41] valentin12 opened #2 "Profile settings: Change password tab doesn't show up"
You can't get into the change password tab by clicking on "Change password"

[2015-01-17 15:47] valentin12 opened #3 "Your Projects: "Failed" displayed even if analysis was successful"
The text at the right bottom says: "analyzed: Today at ... failed" but I can see results and it doesn't seem to have failed
![failed](https://cloud.githubusercontent.com/assets/7326056/5789383/86f9ea84-9e68-11e4-80d4-77fe92e07a7b.png)

[2015-04-23 06:45] zopyx opened #4 "Bad variable naming on https://www.quantifiedcode.com/app/pattern/3P0qV6OB"
The example code of this pattern uses 'list' as a variable name. This is an anti-pattern by itself.
Never ever use Python build-in types as variable names...should be renamed to 'some_list' or something similar.

[2015-04-23 06:58] zopyx commented on #4
The explicit check could be rewritten in a one-onliner as

list = list or []

[2015-07-09 10:50] iMichka opened #5 "Badges for specific branch"
Hi

I wanted to know if there is a possibility to get badges for a specific branch? It seems that the badge is only generated for the master branch. That would be great, as I mainly work on a "develop" branch, and my master branch is used as a release branch.

[2015-07-09 11:07] adewes commented on #5
Hey @iMichka , thanks for your message!

This is possible (but undocumented right now), just use the following format for the badge URL:

https://www.quantifiedcode.com/api/v1/project/[your-project-id]/snapshot/origin/[your-branch-name]:HEAD/badge.svg

For example, if I wanted to display the badge for the **corentin/master** branch of my BlitzDB project, I would use the following image URL:

https

[2015-07-10 12:22] iMichka commented on #5
Great, that worked. Exactly what I need.

I guess an entry in the FAQ would be great, or an option to chose between branches for the badges.

Thanks for the help.

[2015-07-14 10:17] vasily-v-ryabov opened #6 ".checkignore file seems ignored by QC"
My project on QC: https://www.quantifiedcode.com/app/project/6d66337b96ed4cb1b01574ec3d39f9e7

My .checkignore file on GitHub repo: https://github.com/pywinauto/pywinauto/blob/master/.checkignore

This file seems not used by QC to exclude files from analysis. Organization and user name mismatch may be a reason, because I logged on QC as a user, but the repo is inside an organization.

[2015-07-26 14:10] willingc opened #7 "Analyze project selection only displays a subset of all repos"
When selecting a repo to analyze from the list of possible repos, https://www.quantifiedcode.com/app/project/new, only the first 100(?) are displayed. If a user has more repos, say 250, there should be a next page option to access those repos.

Overall, cool project :cake:

[2015-08-03 20:28] #1 closed

[2015-08-03 20:33] programmdesign commented on #2
Fixed

[2015-08-03 20:33] #2 closed

[2015-08-03 20:37] programmdesign commented on #3
Fixed

[2015-08-03 20:37] #3 closed

[2015-08-03 21:01] programmdesign commented on #7
Hi @willingc. Glad you like it! :) Bug confirmed, we'll put it on the roadmap.

[2015-08-04 08:22] MrLeeh commented on #6
I got the same problem here. I want to exclude two files from being checked by Quantified Code. But it doesn' t have any effect.

QC repository: https://www.quantifiedcode.com/app/project/c09bff5bdc1f466b92361ce25fead1d5
github repository: https://github.com/MrLeeh/pdftools

My **.checkignore** file:
[code]

[2015-08-10 14:17] programmdesign commented on #4
Correct. Thanks. We'll fix it.

[2015-08-11 15:01] ArnossArnossi commented on #4
Thanks for the info. I just fixed it.

[2015-08-11 15:01] #4 closed

[2015-08-12 07:25] vasily-v-ryabov commented on #6
When I add more rights to QC app for organization, some issues for ignored files are gone. But currently there are still 6 "potential bug" issues (six.py, sandbox/*) in my project that should be ignored: https://www.quantifiedcode.com/app/project/gh:pywinauto:pywinauto

[2015-08-12 08:22] adewes commented on #6
Hey Vasily,

thanks for reporting this, we are working on a fix!

Cheers
Andreas

On Wed, Aug 12, 2015 at 9:25 AM, Vasily Ryabov <notifications@github.com>
wrote:

[2015-08-19 12:59] jakirkham commented on #7
Would add that it doesn't show repos from organizations that user is a member of.

[2015-08-19 13:00] jakirkham opened #8 "Hook URL in project settings includes `https://` twice"

[2015-08-19 13:05] jakirkham opened #9 "ENH: Add ability to turn off email notifications (and/or route notifications through something else)"
Personally, not a big fan of have my email boxed filled with notifications about builds and tests. It would be good if we could at a minimum turn this off. Also, if I do want the notifications, I normally wanted them routed in some other form so allowing a custom webhook to call per repo would be a valuable step in this direction.

[2015-08-21 08:26] programmdesign commented on #9
Which notifications do you mean? That the analysis of your project is finished?

[2015-08-21 11:09] jakirkham commented on #9
Yes, that analysis of my project is finished.

[2015-08-25 11:07] vogelsgesang commented on #8
Thanks for reporting this.
It is now fixed in our code base, and will be working as soon as the web interface is deployed the next time.

[2015-08-26 13:42] #7 closed

[2015-08-28 11:25] vogelsgesang commented on #8
And deployed :)

[2015-08-28 11:25] #8 closed

[2015-08-28 11:29] vogelsgesang commented on #7
@willingc: we added pagination for the Github projects. You should be able to add all repositories now.

@jakirkham: Did you grant us access to your private repositories? Does the organization only have public repositories or private repositories as well?

[2015-08-28 15:26] jakirkham commented on #7
Thanks for getting back to me, @vogelsgesang. I didn't grant permission for private repos. The organization that I was looking for has a mix of public and private repos.

[2015-08-31 15:24] vasily-v-ryabov commented on #6
Well. It works much better now. But I still see 2 ignored files (sandbox/_DrawDialog_win32_1.py and sandbox/_DrawDialog_Wx.py) in "Avoid using wildcard imports" section and 1 ignored file (sandbox/DemiTest.py) in "Avoid accessing protected class members from outside" section.

It looks like there are still some cases to fix.

[2015-09-01 08:28] vasily-v-ryabov opened #10 "Pull request analysis error: "No such branch/commit found""
Recent pull request seems not analysed: https://www.quantifiedcode.com/app/project/gh:pywinauto:pywinauto?branch=__pull_request_58
Message `No such branch/commit found` is shown.

GitHub link: https://github.com/pywinauto/pywinauto/pull/58

[2015-09-01 09:12] vogelsgesang commented on #7
For the time being you will have to grant us access to private repositories in order to access the repositories of your organizations.

Most likely we will add the possibility to access public repositories of organizations later. But currently this is not on our schedule.

[2015-09-01 09:22] programmdesign commented on #7
@jakirkham: you can always add public repos via URL in the add project dialog.

[2015-09-05 19:44] NiklasRosenstein opened #11 "Missing argument to super() inconsistent"
My project uses Python 3 where you don't need an argument to `super()`. QC doesn't complain for all cases but three (seemingly random) files. You can find the QC results [here](https://www.quantifiedcode.com/app/project/fcdfee657ce7446caed1141de62199af?severity=1&groups=code_patterns%3A1ICBjxCD%3Af2).

[2015-09-06 23:50] benjaminjkraft opened #12 "Viewing issues doesn't work on branches other than master"
See for example https://www.quantifiedcode.com/app/project/8943480ec8a24f28ae041c720d8e0874?branch=origin%2Fmain; if you click on the issue detail buttons, they don't work, and you'll see 404s in the console (and the requests that are 404ing are clearly not specifying a branch name).  This is because the repository doesn't have a `master` branch (for historical reasons we use `main` instead); on r

[2015-09-08 08:48] vogelsgesang commented on #12
Thanks for reporting this issue.

We have fixed it in our development branch and viewing issues on the non-`master`-branch will be working as expected after the next deployment. I am closing this ticket for now and I will ping you as soon as the changes are online.

[2015-09-08 08:48] #12 closed

[2015-09-08 19:22] iMichka commented on #5
Hi; it seems that this is no more working (probably since some weeks already). Here an example on my project:
https://github.com/gccxml/pygccxml

Has the URL changed ?

[2015-09-10 15:40] vogelsgesang commented on #5
Yes, the URL changed. The badge for your branch is now available under https://www.quantifiedcode.com/api/v1/project/117af14ef32a455fb7b3762e21083fb3/snapshot/origin:develop:HEAD/badge.svg.

[2015-09-10 15:40] #5 closed

[2015-09-14 13:34] vogelsgesang commented on #10
We changed the way in which pull requests are presented some time ago. Pull requests are displayed in a separate views which only summarize the differences between old and newly introduced issues. For example, the pull request 58 can be found [here](https://www.quantifiedcode.com/app/project/gh:pywinauto:pywinauto/diff/d2972e6dfea5925db9b66b3dddba60e5a29d3e5d/f89d93b1bccaa507521c23f2279963e5e5309a

[2015-09-14 13:37] vasily-v-ryabov commented on #10
Looks very nice! :+1:

[2015-09-14 13:37] #10 closed

[2015-09-18 12:43] jirikuncar opened #13 "Project access rights based on GitHub groups"
Is it possible to allow people with admin rights to a project on GitHub modify settings on QC?

[2015-09-21 07:59] drnextgis opened #14 "NotImplemented exception"
I'm using `NotImplemented` constant within `__eq__` method of my class but get:

[code]

[2015-09-26 21:31] programmdesign commented on #9
We'll put this on our roadmap. Right now, this feature isn't available.

[2015-09-26 21:31] #9 closed

[2015-09-28 10:44] ArnossArnossi commented on #11
Hi, sorry for the delay. We had to refactor our tagging system in order to fix this.
	If you reset your project and set the tag for python-3.x this issue should be fixed.

	To reset and reanalyze your project you can follow theses steps:
	   1. Open your project's settings
	   2. Click on "Danger Zone" -> "Reset project"
	   3. Wait some time until we reanalyzed your project

[2015-10-05 03:29] nongiach opened #15 "I like quantified code but"
I really like quantifiedcode but I'm very lazy to create a git just to send you my files, I will be very happy if I could just upload my files. I think If you do this feature you will have a lot more recurent user.
thx

[2015-10-05 08:25] programmdesign commented on #15
Thanks for your feedback. I'll lock that as a feature request that we'll put on our roadmap. For now, we only support Git based development workflows.

[2015-10-05 09:34] ArnossArnossi commented on #14
Hi, sorry for the delay. We fixed this issue, thanks for pointing it out. If you reset your project the code check should work as expected now.

To reset and reanalyze your project you can follow theses steps:

1.  Open your project's settings
2.  Click on "Danger Zone" -> "Reset project"
3.  Wait some time until we reanalyzed your project

[2015-10-06 08:29] drnextgis commented on #14
Thanks! Now it works fine.

[2015-10-06 08:29] #14 closed

[2015-10-26 22:55] CarstVaartjes commented on #6
For me it still doesn't work at all. And that's with a fairly simple .checkignore file with:

    customer_specific/
    docs/
    requirements/
    script/
    upgrades/
    tests/

[2015-10-28 23:15] CarstVaartjes opened #16 "Queue not progressing?"
Hi,

it seems that the queues for my projects are frozen/broken, it has stayed like this for over 12 hours now: "Project queued for analysis: You're at position 65."

BR Cart

[2015-10-29 01:23] programmdesign commented on #16
Hi Cart. Thanks for reporting. Just gave the analysis queue more power. Your analysis should be done in a bit.

[2015-10-29 01:23] #16 closed

[2015-10-29 01:27] CarstVaartjes commented on #16
thanks!

[2015-10-29 02:15] CarstVaartjes commented on #6
Update, See: https://github.com/visualfabriq/bquery/blob/master/.checkignore

So i've tried all these patterns:

    # standard
    bquery/benchmarks/
    bquery/tests/
    # other try
    bquery/benchmarks
    bquery/tests
    # try with wildcards
    bquery/benchmarks/*
    bquery/tests/*
    # try with recursive wildcards
    bquery/benchmarks/**
    bquery/tests/**

All of these still give me

[2015-10-29 17:37] programmdesign commented on #13
HI @jirikuncar. Sorry for the late response. The release of QC 2.0 kept us too busy.

To your question: yes, this is possible. Just go to your project settings, click on "Access Management" and invite Collaborators as Admins.

Does that answer your question?

[2015-10-29 17:37] programmdesign commented on #11
Considered closed. Re-open if the issue persists.

[2015-10-29 17:37] #11 closed

[2015-10-29 19:00] programmdesign commented on #6
@CarstVaartjes @adewes is on it. I'm positive it's fixed soon.

[2015-10-29 23:27] CarstVaartjes commented on #6
Great! Thanks, already took a subscription too :)

[2015-10-30 06:24] msjaiswal opened #17 "Is badge supported for private repositories ?"
Hello,
I used the markdown on the README page but it shows broken image. My guess is that it might be some authentication problem since it is a private repository. Can you tell me if it is supported ?

Thanks.

[2015-10-30 10:52] programmdesign commented on #17
Hi @msjaiswal. I'll look into this. Right now, the badge indeed works only for public repos.

[2015-10-30 12:43] msjaiswal commented on #17
Ok thanks.

[2015-10-30 15:41] programmdesign opened #18 "Requested resource can not be loaded (Safari)"
It seems that on the latest Safari version (Safari 9 on OS X El Capitan (10.11)), both on iOS and El Capitan the login dialog is not working due to a JS bug.

All works with Chrome and Firefox. So please us this for now. We are working on a fix for Safari.

[2015-10-31 21:44] programmdesign commented on #17
Hi @msjaiswal. The badge should now work. Can you confirm?

[2015-10-31 22:56] programmdesign commented on #6
@CarstVaartjes @MrLeeh @vasily-v-ryabov  We deployed a fix for this issue. For our repos, all worked find. Can you confirm?

- Add a .checkignore file to your repo
- Click on "Check for new commits" on your project page
- Once the analysis is finished, refresh the page in your browser

@CarstVaartjes: thanks for the subscription. Glad you couldn't wait ;-)

[2015-11-01 03:26] msjaiswal commented on #17
Yes, it works now. Thank you.

[2015-11-01 03:26] #17 closed

[2015-11-01 09:32] vasily-v-ryabov commented on #6
Thanks for your efforts guys! Now it works again.

But there is one issue: 2nd level subfolder seems not recognized by your algorithm.

[.checkignore file](https://github.com/pywinauto/pywinauto/blob/master/.checkignore) contains `pywinauto/unittests/` line, but QC still shows orange warnings for this subfolder.

For example, [Avoid "non-Pythonic" method names](https://www.quantifiedcode.com/app/p

[2015-11-01 09:36] vasily-v-ryabov commented on #6
Oh, and `doc_src/` line doesn't work as well.
Only `pywinauto/six.py` line really works.

[2015-11-01 11:50] adewes commented on #6
Hey Vasily,

thanks for checking again. I just reset the project so that it's analyzed
again, afterwards the files should no longer appear. QC does not reanalyze
commits that it already has analyzed, which is probably why you still see
those files. We're still working on a better solution for this, so if you
have any suggestions or ideas for further improvements please let us know,
will be happy t

[2015-11-01 12:28] vasily-v-ryabov commented on #6
OK, now it looks like the problem is how the analysis is done.
I expect that .checkignore file is applied to the whole repo, but in fact it's applied for all commits after the .checkignore file was created. Correct?

[2015-11-01 14:42] programmdesign commented on #6
.checkignore is applied on any commit or re-analysis. Not just for commits after the .checkignore was added. I think the fact that your file are not ignored has to do with the notation in the .checkignore file. I'll create a fork later and test this.

[2015-11-01 18:31] programmdesign commented on #6
@vasily-v-ryabov: I opened a pull request for pywinauto that should should do the trick. As far as I can see, the .checkignore settings in my fork are now working fine: https://www.quantifiedcode.com/app/project/4ff99ffbd2164fd99f0d2dcf126c9003?tab=basics

[2015-11-01 18:58] vasily-v-ryabov commented on #6
@programmdesign, thank you for the fix. Now it's working fine!

It's not so obvious [in the docs](http://docs.quantifiedcode.com/configuration/config_checkignore.html) that folder name should trail with `*` after `/`. My previous experience with codecov.io service shown that `*` is not necessary, but you require that. I think this rule might be more flexible. That's only my opinion.

If you are ab

[2015-11-01 18:59] #6 closed

[2015-11-01 19:10] programmdesign commented on #6
Thanks for your patience. Will make the settings there easier. I already updated the docs. They'll be updated with the next deployment.

[2015-11-01 22:51] CarstVaartjes commented on #6
Thanks so much for the quick response! I'm using the ** (also exclude subfolders) which seems work! :+1:

[2015-11-02 09:15] CarstVaartjes opened #19 ""Project has been marked for deletion, please try a few more minutes to try again""
Hi,

we renamed a repository in github, which made it look rather strange in quantifiedcode (kept the old name). So i deleted it and tried to add it back with the new name but then I get "Project has been marked for deletion, please try a few more minutes to try again".
After 24 hours it still says that :) Could you please look into this?

Thanks!

Carst

[2015-11-02 11:54] adewes commented on #19
Hey @CarstVaartjes

thanks for reporting this, we fixed the issue and deleted all projects, it should work now! Please let us know if you still have problems adding your projects again.

Just so that I understand: You deleted the projects because the permalinks were not updated after you changed the names of your projects on Github? Or was it that the names themselves were not updated on Quantifie

[2015-11-02 11:56] CarstVaartjes commented on #19
great, thanks! the repository name was not updated on QuantifiedCode and I was unsure if it was just the name, or a more general issue (not being linked anymore). So I thought "let's just remove and add it back again" :)

[2015-11-02 12:46] jirikuncar commented on #13
Maybe I should have asked differently. Is it possible to keep the rights automatically in sync with the groups on GitHub so we don't have to manage teams on two sites (similarly how Travis CI is doing it).

[2015-11-02 12:46] programmdesign commented on #13
No, not yet unfortunately. But we do have that on our feature list.

[2015-11-02 12:48] jirikuncar commented on #13
Thanks, I'm looking forward to see this feature in QC 3.0 :wink:

[2015-11-05 04:56] #19 closed

[2015-11-11 05:27] timofurrer opened #20 "Make quantifiedcode configurable with a config file inside project"
Make all relevant settings configurable with a config file located in the root of each analysed project.
Something similar like `.codeclimate.yml`, `.travis.yml`, ...

[2015-11-11 05:31] timofurrer opened #21 "Ignore cerain issues in specific places"
Provide configuration possibility to ignore certain Issues in specific places in the code.
For example sometimes it's pretty legitimate to use an `eval` in a controlled way at specific places. I want to ignore this warning at this place.
Another example could be if I use a class from a third-party package which provides a class from which I inherit and override a method, but this method name is no

[2015-11-11 05:32] timofurrer opened #22 "Badge for specific path in project"
I want to have a badge but only with the numbers from the specific path in the project.
I can already filter for the issues in a specific path, but the badge is always for the whole project.

[2015-11-11 08:59] programmdesign commented on #22
Hi @timofurrer, we are happy to put this on our mid-term roadmap. Can you better explain the use case for having a badge for a folder only?

[2015-11-11 09:04] programmdesign commented on #21
This is a valid point an is on our roadmap already. The second example you mentioned should however be solved by adapting the actual code pattern. You can exclude certain matches, e.g., to avoid test classes that do not match standard naming conventions.

[2015-11-11 16:26] timofurrer commented on #22
I know some projects I've worked on in the past which had multiple python projects inside which worked together. Let's say some core package, a library package and a model package. However, you could use these packages completely separately. So it would be cool to give the users information for the specific packages with a badge.
A second use-case where it might be worth to implement something lik

[2015-11-11 17:26] programmdesign commented on #22
Thanks for the clarification. For the second issue there is a solution already. ;-) You can just add a [.checkignore](http://docs.quantifiedcode.com/configuration/config_checkignore.html) file to repo to exclude files and folder from your analysis. Excluded files/folders will not be included in the issue count of the badge.

[2015-11-11 18:03] timofurrer commented on #22
Yes, that's what I've already figured out :)

[2015-11-16 16:55] alan-unravel opened #23 ".checkignore seems to be ignored"
I have a .checkignore set to ignore all files in  my projects migration directories, yet it is still checking these directories! Any insight into this issue would be great.

[2015-11-16 17:45] programmdesign commented on #23
@alan-unravel can you please post your .checkignore file here or send me the link to your repo?

[2015-11-16 19:44] programmdesign opened #24 "Integrate QuantifiedCode analyses into iPythonNotebook"
To be detailed. Feature request by @tillahoffmann (Twitter).

[2015-11-17 08:56] alan-unravel commented on #23
Yeah sure, I can't post a link since it is a private repo but here is the .checkignore(with some app names changed):
[code]

Let me know if I have done something wrong, thanks!

[2015-11-17 10:21] programmdesign commented on #23
Looks fine actually. Did you re-analyze your project? What does the log say? Can you please post it here or send it to me using the contact form https://www.quantifiedcode.com/contact

[2015-11-17 11:05] alan-unravel commented on #23
Seems like a re-analyze is what is needed, will let you know how it goes!

[2015-11-17 11:32] programmdesign commented on #23
:+1:

[2015-11-17 11:34] alan-unravel commented on #23
Just a quick question does, the .checkignore have to be in the master branch? We have two tracked and only one has the .checkignore. And a follow up is, does the .checkignore of an incoming PR get checked?

[2015-11-17 11:39] programmdesign commented on #23
For now, we only consider the .checkignore in your master branch.

[2015-11-18 15:48] alan-unravel commented on #23
Okay, thanks!

[2015-11-18 15:48] #23 closed

[2015-11-18 16:39] alan-unravel opened #25 "Code style recommendations block github from merge if Quantified code is required to pass"
Seems odd that recommendations block, is there a way for us to exclude certain types of styles recommendations?

[2015-11-18 16:45] programmdesign commented on #25
Yes. In your project settings you can turn all checks on or off.

Christoph

Von meinem iPhone gesendet

On 18.11.2015, at 17:40, alan-unravel <notifications@github.com<mailto:notifications@github.com>> wrote:

Seems odd that recommendations block, is there a way for us to exclude certain types of styles recommendations?

-
Reply to this email directly or view it on GitHub<https://github.com/quant

[2015-11-18 16:48] alan-unravel commented on #25
Great thanks

[2015-11-18 16:48] #25 closed

[2015-11-29 14:12] BrianArb opened #26 "nametuple should follow the style guide for call names as the are factory function."
Variable or constant name does not match naming conventions. Please change the name of the variable or constant.

HourMinute = collections.namedtuple('HourMinute', 'hour minute')

[2015-12-04 20:40] jjgreen opened #27 "Avoid accessing protected class members from outside"
A laudable aim, but I think I get false positives for the two recursive calls in the following code

[code]

[2015-12-04 21:21] programmdesign commented on #27
Thanks for pointing this out. We'll have a look. If you like, you can change any code check yourself. Wanna give it a try? http://docs.quantifiedcode.com/patterns/language/index.html

[2015-12-05 02:53] dwiel opened #28 "I've clicked "Fix automatically!" a few times throughout the day, but I haven't yet gotten any pull requests"

[2015-12-05 10:45] programmdesign commented on #28
We are looking into this.

[2015-12-06 10:45] programmdesign commented on #28
@dwiel Can you try again, after you granted us access for private repositories? If you just gave access to public repos, GitHub access rights don't allow us to open a Pull Request.

[2015-12-06 12:42] adewes commented on #28
@dwiel please try again, we have improved our permissions checks, so we will ask you to give us the required access before making a pull request.

[2015-12-06 12:42] #28 closed

[2015-12-06 12:55] dwiel opened #29 ""Unable to fix the issue due to network problems""
I click Fix automatically, the "sure, fix it" in the modal, then I get this pop up: "Unable to fix the issue due to network problems".  It seems to be from the following failed request:

`POST https://www.quantifiedcode.com/api/v1/project/undefined/autofix/code_patterns:4ACGxFj1 404 (NOT FOUND)`

[2015-12-06 14:05] programmdesign commented on #29
@dwiel Should be fixed. Try again please.

[2015-12-07 03:50] dwiel commented on #29
works now, thanks

[2015-12-07 03:50] #29 closed

[2015-12-07 23:04] jjgreen opened #30 "Allow unused arguments if named "_""
There are several cases where I'd like a function to have different implementations but the same signature, for example
[code]
Could `Avoid unused arguments` not trigger when the unused variable is `_`?

[2015-12-07 23:21] programmdesign commented on #18
Fixed

[2015-12-07 23:21] #18 closed

[2015-12-07 23:23] programmdesign commented on #30
Hi @jjgreen. Thanks. Do you think this is something we should have in the general pattern that applies to anyone or would you like to create an adapted version of the existing pattern (you can do this yourself if you like and share it back to the community by making it public).

[2015-12-07 23:49] jjgreen commented on #30
I'd say this is a quite common idiom -- another example is a method implemented in a set of subclasses, one which is called in the base class; then one would want (or need) the same signature for the methods, even if some of them did not use all of the arguments (for example, the method `variables` in two subclasses  [here](https://github.com/jjgreen/mvpoly/blob/master/src/python/mvpoly/dict.py#L3

[2015-12-08 00:11] jjgreen commented on #30
... which is not to say I'm unwilling to have a crack at making a modified version, but I'm having some problems in finding the source for the original, would you have a link to it?

[2015-12-08 14:43] programmdesign commented on #30
Give it it a try. The original is here: https://www.quantifiedcode.com/app/issue_class/edf4ba30fdae4465b036abec666962af

Click on the edit button "Pen"-Symbol. This lets you edit/access the actual Code pattern and the test cases behind.

Docs on the language: http://docs.quantifiedcode.com/patterns/language/index.html

[2015-12-08 16:35] jjgreen commented on #30
For the life of me, I cannot see a pen on that page.  Could you mark it on the attached screenshot?

![screenshot from 2015-12-08 16 32 06](https://cloud.githubusercontent.com/assets/3464626/11661368/8b032bc0-9dc9-11e5-8417-71878705951e.png)

[2015-12-08 16:52] programmdesign commented on #30
Hm, seems to be glitch on our side. Let me check.

[2015-12-08 17:15] programmdesign commented on #30
Here's the pattern for the moment, if you'd like to just create a new code check:

$: {match_first: [args]}
node_type: functiondef
args:
  args:
  - $repeat: {$anything: {}}
  - node_type: name
    id:
      $and:
      # whitelist default arguments for methods
      - $not: {$or: [self, cls]}
      - name: data_var
        $store: {$anything: {}}
body:
  $not:
    $anywhere:
      node_type: name

[2015-12-08 20:09] jjgreen commented on #30
Added a (publicly available) check `Use an underscore for unused arguments`, just a 1-char modification to the above of course, I couldn't find how to format the documentation as python code though -- are there any docs/links to the markdown flavour used?

[2015-12-08 20:11] jjgreen commented on #30
By the way, on creating my own check, the pen icon is as plain as the nose on my face :-)

[2015-12-08 20:32] iMichka opened #31 "False positive in child class name as first argument to `super`"
Hi

I think there are some false positives in some parts of my code. Please see the following 6 critical errors labelled as ```Use child class name as first argument to `super` call``` in this file:

https://www.quantifiedcode.com/app/project/117af14ef32a455fb7b3762e21083fb3/snapshot/8210d5a640bb4c12b4a89461bd5cd93a/file/pygccxml/declarations/matchers.py?severity=1

To me the code looks correct, a

[2015-12-08 20:47] programmdesign commented on #31
Hi Michka, you are right. We already disabled this check. If you got to your project's setting and click re-analyze, the issue should no longer be raised.

On 08 Dec 2015, at 21:32, Michka Popoff <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi

I think there are some false positives in some parts of my code. Please see the following 6 critical errors labelled as Use child cl

[2015-12-09 00:22] jjgreen commented on #30
Resolved

[2015-12-09 00:22] #30 closed

[2015-12-09 00:28] programmdesign commented on #30
Nice job! I'll review the pattern and approve it as public check if nothing comes up :)

[2015-12-09 09:32] tomato42 opened #32 "Pull request status not updated and comments not made"
I have a pull request: https://github.com/tomato42/tlslite-ng/pull/68 and while the analysis on it was run: https://www.quantifiedcode.com/app/project/59e6019ef3c84ad7ba30c49ec46d990f/diff/6a78b977a4785239f3f006c79d8aefabc12ee637/ed21efcdff22b0d50ffeae447101d6522769d221/issues?pr=68  it has not updated the pull request status or filed a comment, despite both settings being on in the project's conf

[2015-12-09 09:48] programmdesign commented on #32
@adewes can you please look into this?

[2015-12-09 09:59] tomato42 commented on #32
few ideas (based on other hooks problems):
 * It's a fork not a "base" repo
 * It's a PR to a fork
 * it's an updated (re-pushed/re-based) pull request

[2015-12-09 15:59] renemilk opened #33 "Configurable pull request status"
AFAICT currently even if a pull request analysis finds even a minor issue this will mark the pull request status as failed.
It would be nice to instead be able to configure which severity of issues found will set that error mark. So for example only critical issues will fail the PR status.

[2015-12-09 16:13] programmdesign commented on #33
Hi! You can do that. We just added a "Disable" link on each issue. Click on it and it will take you to your project's settings. There, you can turn each check off (or on again).

[2015-12-09 16:27] renemilk commented on #33
Hi. That's not quite the same though, right? What we'd like to do is let the QuantifiedCode analysis not fail the PR unless a (new?) sever issue was found. Disabling the checks to that effect isn't that useful imo.

[2015-12-09 16:30] programmdesign commented on #33
Not sure if we are talking about the same thing. If you turn the check of, it won't come up in your Pull Request. No matter what. If it is on, it will give you a fail status if a new issue is found in the pull-request. As we do incremental analysis, we don't always analyse the whole project, just what you added in the Pull Request.

[2015-12-09 16:37] programmdesign commented on #33
Ah, sorry. Think I got it now. You want to see the other issues, but you want to have the PR only fail for a certain severity category, right?

[2015-12-09 18:32] renemilk commented on #33
Yes, that's correct.

One idea here is that a PR does not necessarily need to be "perfect" for us to merge, but it's still nice to see what analysis "thinks" about it.

[2015-12-09 19:50] programmdesign commented on #33
We'll log it as feature request. For now, you can disable the checks you don't like. As public repos are for free, you can add it twice (via url), if you are interested in getting all analyses while having limited checks on your PRs.

On 09.12.2015, at 19:32, Ren? Milk <notifications@github.com<mailto:notifications@github.com>> wrote:

You want to see the other issues, but you want to have the PR

[2015-12-11 08:49] renemilk opened #34 "No "Fix it" response"
In response to https://github.com/pymor/pymor/issues/173#issuecomment-163356612 I did try again and am still not getting email or PR.
I clicked https://www.quantifiedcode.com/app/project/gh:pymor:pymor?autofix=code_patterns%3A3P0qV6OB
and https://www.quantifiedcode.com/app/project/gh:pymor:pymor?autofix=code_patterns%3A3aSZNLMu

[2015-12-11 09:06] renemilk commented on #34
The two pull request did turn up after all. It was sometime between 20-45 minutes after clicking the links AFAICT.

[2015-12-11 21:19] TonyFlury commented on #27
Also confirmed when an instance method accesses a class attribute which starts with a "_". I think the definition of outside needs some work :-)

[2015-12-12 08:33] #34 closed

[2015-12-12 08:52] programmdesign opened #35 "Give Admins access to same rights as owner"
- Except for "Make me GitHub owner"
- Change owner
- And for deleting the project

[2015-12-12 13:47] adewes commented on #32
I just reset the project to have it re-analyzed, I'll also check your Github permissions.

[2015-12-12 13:56] adewes commented on #27
We'll work on improving this check, right now our engine still has some trouble understanding recursive assignments like the one you're showing, as it requires quite deep data flow analysis.

[2015-12-12 14:04] adewes commented on #32
So it seems that we don't have the required access rights. To fix the problem, please do the following:

* Go to your settings
* Open the "Linked accounts" tab
* Click on "revoke Github access" and afterwards on "Connect" again

You will be redirected to Github and will have to acknowledge the changed permissions, afterwards your project should get correctly analyzed. To do a full re-analysis, ple

[2015-12-12 17:59] TonyFlury commented on #27
The issue I have isn't recurrsion - although the OP's issue definitely is. Should I raise another issue for my related by different problem ?

[2015-12-12 20:53] tomato42 commented on #32
Hmm, when I did the authorization (after revoking the access) I got the following:
[code]

after logging in I did get
[code]

and then it did ask for "Repository webhooks and services" and "Repositories" permissions on top of the "Public data only"

[2015-12-13 03:08] TonyFlury opened #36 "New Feature : Allow disabling of specific check against specific files"
It would be useful to be able - via the web gui to disable some checks against specific files, while keeping that check enabled on others in the same project.

[2015-12-13 07:34] msjaiswal opened #37 "Avoid unused arguments does not report all unused arguments at once"
Hello,

If there are more than one unused arguments is a function or a method, "Avoid unused arguments" check only reports one of the unused arguments. It should rather report all the unused arguments all at once.

Thanks in advance.

[2015-12-13 09:49] programmdesign commented on #36
Hi @TonyFlury, closed in favor #21

[2015-12-13 09:49] #36 closed

[2015-12-14 13:42] programmdesign commented on #32
We'll look into this asap.

[2015-12-14 14:41] programmdesign commented on #37
Hi @msjaiswal: This pattern works in a way that it matches only one argument. If you like, give it a try and try to improve the pattern, to match any unused argument: http://docs.quantifiedcode.com/python-code-patterns/. If you are up for it, I'll provide you the current pattern as a starting point.

[2015-12-14 15:02] msjaiswal commented on #37
Hi @programmdesign, please do point me to the current pattern. I would definitely give it a shot and attempt to contribute.

[2015-12-14 16:43] programmdesign commented on #37
In your inbox

[2015-12-14 20:56] programmdesign commented on #32
@tomato42 seems your PRs have a status update now. Can you confirm all works for you?

[2015-12-14 21:12] tomato42 commented on #32
just waiting for a colleague to submit PR to see if it works with 3rd party pull requests too, will close it as soon as I confirm it (should be before tomorrow evening)

[2015-12-15 12:08] tomato42 commented on #32
looks fixed: https://github.com/tomato42/tlslite-ng/pull/82

Awesome! Thanks!

[2015-12-15 12:08] #32 closed

[2015-12-18 14:53] programmdesign commented on #35
Done

[2015-12-18 14:53] #35 closed

[2015-12-18 21:39] tomato42 opened #38 "Cody unable to open Pull Requests to forked repositories"
I tried to use Cody to fix some issues in [tomato42/tlslite-ng](https://www.quantifiedcode.com/app/project/gh:tomato42:tlslite-ng), unfortunately I just got email with

[2015-12-19 14:24] programmdesign commented on #38
This happens, if you haven't granted enough rights on GitHub for us to open a pull request. Can you please check what permissions QuantifiedCode got?

[2015-12-19 15:06] tomato42 commented on #38
well, the webhook was created _by_ Quantified Code, same for OAuth token - it was Quantified Code that asked for a set of permissions and I didn't and don't have ability to change them. So which permissions should I check?

more over, it's a public repo, anyone can open a pull request on it...

[2015-12-22 23:08] danpalmer opened #40 ""Missing required field in settings" Out of date for Django 1.9"
The check *Missing required field in settings* requires `TEMPLATE_DEBUG` to be defined. This is deprecated as of Django 1.8, and the correct usage is to define in the new `TEMPLATES` dictionary.

[2015-12-22 23:12] danpalmer opened #41 ""Missing required field in settings" a little too opinionated."
The check *Missing required field in settings* requires `ADMINS` and `MANAGERS` to be specified in the Django settings file.

 - Addresses listed in `ADMINS` are emailed when errors occur in production, and
 - addresses listed in `MANAGERS` are emailed when broken links are detected in production using the `BrokenLinkEmailsMiddleware`.

I would argue that the first requirement enforces a particula

[2015-12-22 23:13] danpalmer commented on #41
In addition to this, I don't think that missing out `ADMINS` or `MANAGERS` is _critical_, which is what this check currently shows up as.

[2015-12-22 23:37] danpalmer opened #42 ""Use new-style Python classes" reported for Python 3.x codebase"
The code check *Use new-style Python classes* should not apply to Python 3 codebases, as all classes are "new style". I have marked my codebase as a `python-3.x` codebase, so I do not expect this check to apply, and it appears to provide no useful information.

[2015-12-23 10:12] programmdesign commented on #40
Thanks. Tagged the check accordingly: https://www.quantifiedcode.com/app/issue_class/17b87b406f664565ae1ce054d9586c67.

If you like, you can go ahead an create a migration pattern to show the migration path. We already have some of them for other settings: https://www.quantifiedcode.com/app/issue_class/6f1b0d6580e04149983617cefa39d08c

[2015-12-23 10:12] #40 closed

[2015-12-23 10:17] programmdesign commented on #42
The check had a "generic" tag unfortunately. I removed it. Can you re-analyze your project (project settings - danger zone - reset project), to see if the issue is still raised?

[2015-12-23 12:42] danpalmer commented on #42
I've done this, but it's still showing up. I can see that [the check](https://www.quantifiedcode.com/app/issue_class/6VzbBIEp) no longer has the `generic` tag, but I'm still getting it, specifically for some nested `Meta` classes in Django models.

[2015-12-23 15:12] programmdesign commented on #42
I'm checking this asap. Probably it's a bug on our end. Shouldn't be there anymore.

[2015-12-23 16:13] programmdesign commented on #42
@danpalmer can you please let me know which project we are talking about? Thanks

[2015-12-23 16:27] danpalmer commented on #42
@programmdesign https://www.quantifiedcode.com/app/project/42edf59172e2419c84a653855bdad8bd

Please let me know if I'm getting something wrong here, very possible!

[2015-12-23 16:42] programmdesign commented on #42
Thanks. Seems to be a bug. I'll come back to you as soon as we fixed it.

[2015-12-23 16:44] danpalmer commented on #42
Great! No rush at all, it's absolutely not urgent, I don't mind if it takes a while.

By the way, really like the use of GitHub issues for support. Thanks!

[2016-01-08 16:55] martinhoefling opened #43 "Fix it! does not create a pull request"
Repo on github martinhoefling/tornado-gallery

[2016-01-08 16:57] programmdesign commented on #43
Please try again.

[2016-01-08 16:57] martinhoefling commented on #43
Yep.

[2016-01-08 16:57] #43 closed

[2016-01-10 20:37] iMichka commented on #31
Thanks, the error is now gone. Sorry for the long delay.

[2016-01-10 20:37] #31 closed

[2016-01-19 10:28] bforchhammer commented on #21
Big :+1: for this feature. We have run into a number of checks which we'd love to only have applied for parts of our code base ("pythonic method names" is one example)! Any estimation on a timeline? :-)

[2016-01-23 15:05] Juanlu001 commented on #33
:+1: It's a bit annoying to see the red cross sign because of a QC recommendation. For instance, it would be nice to configure it to fail only if "potential bugs" or "critical" issues are found.

[2016-01-23 19:30] programmdesign commented on #33
@Juanlu001: you can do that by turning all checks in other categories off. Which IMHO makes sense anyways. Because, if you don't care about minor issues or recommendations, then they should not show in your issue log. If you care, you should also fix them, before they make into your code base.

[2016-02-13 22:09] pawelad opened #44 "'Prefer static methods over instance methods' in abstract methods"
Hi,

I'm getting in `Prefer static methods over instance methods` recommendation in [my project](https://www.quantifiedcode.com/app/project/gh:Pythonity:icon-font-to-png), but I don't think it should be raised with abstract methods, so probably when it uses `@abstractmethod` decorator or (the only thing it does?) raises `NotImplementedError` exception.

Cheers,
Paweł

[2016-02-13 22:10] pawelad commented on #41
+1

[2016-02-14 20:56] spaceisstrange opened #45 ""The page you are trying to access cannot be loaded." when opening issues"
Hi, I've been having this problem for a few days now. Basically I cannot open any issue not from my projects nor from projects of other people.

<img width="870" alt="captura de pantalla 2016-02-14 a las 21 53 16" src="https://cloud.githubusercontent.com/assets/6024783/13036352/71306b8c-d365-11e5-9eb4-af4d3d63a7a1.png">

I tried it in Safari and Chrome and both have the same problem. Is there an i

[2016-02-15 09:22] adewes commented on #45
Hey @spaceisstrange , sorry for the inconvenience! Can you tell us which project it is you're having trouble viewing? You can send me the link to andreas@quantifiedcode.com if you don't want to post it publicy.

[2016-02-15 14:25] spaceisstrange commented on #45
Hi @adewes, as I said it happens with pretty much every project I tried. But I started noticing it in my personal one:

[2016-02-15 18:53] spaceisstrange commented on #45
Okay, it seems like the issue is gone and now I can load everything just fine! It takes a long time, though, but at least it loads.

[2016-02-15 18:53] #45 closed

[2016-02-16 09:14] adewes commented on #45
Good to hear that @spaceisstrange , the queries are indeed very slow, I'll look into this!

[2016-02-19 08:23] vasily-v-ryabov opened #46 "QC detects "new" issues that are not new (when an old file is modified)"
In general QC works much better that landscape.io. There is no lags, outages and so on. I would really recommend it for everyone working on an open source Python project.

But I often face the problem that a file with many old warnings are detected as containing some "new" issues. Recent example is [here](https://github.com/python-xlib/python-xlib/pull/14).

In such cases good pull requests (reduc

[2016-02-19 18:14] adewes commented on #46
Hey Vasily, thanks for reaching out to us and thanks as well for your positive feedback! Unfortunately sometimes our algorithm still has problems identifying issues between different file versions, we're currently working on improving this though and we might also add more flexibility on how to deal with issues in pull requests. I'll get back to you as soon as we have implemented something.

[2016-02-22 06:33] wmayner opened #47 "Separate Slack WebHooks for separate projects"
Hi,

Thanks for making such an awesome tool!

I'm using the Slack integration, but it seems that all Quantified Code notifications can only be sent to a single channel since there's only one associated WebHook. It would be great if you could have a separate WebHook for each project, since our team has a separate channel for each project.

Cheers,
Will

[2016-03-01 15:46] vasily-v-ryabov commented on #44
+1. I have the same false positives.

[2016-03-02 09:43] adewes commented on #44
Thanks for reporting this, we'll look into it!

[2016-03-28 13:48] fernandog opened #48 "Class defined by a factory funtion reporting as "Avoid "non-Pythonic" attribute names""
since they are classes they should be capitalized

![image](https://cloud.githubusercontent.com/assets/2620870/14079206/624c8a2c-f4d2-11e5-9824-83bf4eca7f2f.png)

[2016-04-24 14:33] jheld opened #49 "branches are not updated"
I cannot see the current list of branches on my repo in the quantifiedcode site. The list is stale.

[2016-04-25 09:12] adewes commented on #49
Thanks for reporting this @jheld , could you paste the link to your repository (or send me via e-mail to andreas@quantifiedcode.com if confidential) so I can have a look?

[2016-04-25 23:01] jheld commented on #49
https://github.com/jheld/diycrate

Thank you!

On Mon, Apr 25, 2016 at 5:12 AM Andreas Dewes <notifications@github.com>
wrote:

[2016-04-26 16:45] Unode opened #50 "Repo_hook and permissions via Oauth"
Hi everyone,

Currently the default sign-up action requests for `admin:repo_hook` permissions.
Couldn't it be `write:repo_hook` instead?

I don't see why having the ability to delete hooks, including those created by other platforms, should be part of the granting scheme. None of the other platforms I use via Oauth have this level of permission.

Additionally, I've experienced the same situation d

[2016-04-27 10:01] adewes commented on #49
@jheld it seems that for some reason we exclude the release branch from the analysis (which seems to be a bug), I'm investigating this and will get back to you as soon as I have found a solution.

[2016-04-27 10:45] adewes commented on #49
@jheld it was indeed a problem with the branch name (as it contained dots), I fixed this and am deploying it right now, so it should work in 10-20 minutes at the lastest. I will schedule a reset of your project to make sure the new branches are analyzed.

Please feel free to close this issue if you think the problem is solved.

[2016-04-27 13:17] Unode opened #51 "Wrong automatic fix for "!= None" vs "is not None""
On the same code there were occurrences of:
    if x != None:

as well as:
    if x!=None:

The first were automatically corrected to:
    if x is not None:

but the second was corrected to:
    if xis notNone:

Which is obviously wrong.

[2016-05-01 22:24] adewes commented on #51
Thanks for reporting this @Unode , this is of course an error! We'll fix it immediately and should have it deployed by tomorrow. I'll get back to you as soon as it's done.

[2016-05-01 22:25] adewes commented on #50
That's a legitimate point, I'll check if we can use that permission as well. We always try to use the smallest permission set possible and we surely don't delete other repo hooks. I'll get back to you as soon as I'll have an update on this.

[2016-05-01 22:29] adewes commented on #50
Concerning the signup flow: Here the problem is that we cannot use a specific scope for the `Login` endpoint, as we give users a choice between granting access to private repositories or not when signing up. Therefore, we cannot pass `scope=repo` or `scope=public_repo` with the Login endpoint, as this could overwrite the scope which the user has chosen before. Currently there is no solution for th

[2016-05-04 08:49] CarstVaartjes opened #52 "Stuck on "Analysis in progress""
Hi,

for visualfabriq/api the quantifiedcode checks have become stuck since 2 weeks on "Analysis in progress". Could you please check what's going wrong?

BR

Carst

[2016-05-04 09:58] adewes commented on #52
Hi Carst,

thanks for reporting this, I'll check it immediately, will have a solution until the end of the day. We're currently migrating our analysis routines to a new engine (which is significantly faster), so it can come to problems for individual projects, sorry for the inconvenience.

I'll get back to you as soon as I have a fix.

Best
Andreas

[2016-05-04 10:12] CarstVaartjes commented on #52
Thanks Andreas!!

[2016-05-04 23:27] adewes commented on #52
It should work again @CarstVaartjes . There was a very large Python file it seems that was too much for our algorithms, thanks for pointing us to this issue :)

We are working to implement better monitoring to detect such issues automatically in the future, sorry again for the inconvenience.

[2016-05-05 09:36] CarstVaartjes commented on #52
Thanks!! works great again :)

[2016-05-05 09:36] #52 closed

[2016-05-08 22:28] Unode commented on #50
@adewes For the last part, perhaps the error message could include some more information to help guide the user. A link to a FAQ or "common problems" explaining the solution (and perhaps the problem) would likely be helpful.

[2016-05-09 19:40] adewes commented on #51
We deployed a new version, please let us know if it fixes your problem!

[2016-05-09 19:52] Unode commented on #51
Tested just now. The patch received is still incorrect:

    -        if fcn1!=None:
    +        if fcn1is notNone:

[2016-05-09 19:54] Unode commented on #51
And a more complex case:

    -     elif limits[0]==None and limits[1]!=None:
    +     elif limits[0]isNone and limits[1]is notNone:

[2016-05-09 21:28] adewes commented on #51
Just a minute, I'll have a look at it.

[2016-05-09 22:44] adewes commented on #51
hm okay, I can reproduce the problem, will fix this asap.

[2016-05-30 19:16] jdm opened #53 "Monitor issues for a subset of files/directories"
https://github.com/servo/servo/ contains vendored versions of a number of upstream python-based repositories. We would be interested in monitoring our own, original python code for the issues that get reported, but it's less useful to us to see the reports on code that we don't maintain.

[2016-05-30 20:47] goanpeca commented on #21
Any updates on this issue?

[2016-06-01 16:12] adewes commented on #21
Hey @goanpeca , I'm working on this right now, will release the feature next week hopefully!

[2016-06-01 16:17] adewes commented on #53
Hey @jdm, you can do this by adding a .checkignore file to your repository:

http://docs.quantifiedcode.com/configuration/config_checkignore.html

After adding the file you might need to reset your project for all changes to take effect.

Does this solve your problem?

[2016-06-01 16:31] jdm commented on #53
Sounds like it!

[2016-06-01 16:31] #53 closed

[2016-06-01 18:19] goanpeca commented on #21
Awesome thanks. keep up the good work.

[2016-06-01 18:22] goanpeca commented on #21
Just some context.

We are using Qt and PyQt so method overloads follow camelCase and there is nothing wrong with that code ;-)

[2016-06-03 08:28] adewes commented on #21
Great that it works for you! We're working on a better way to identify false positives, which will allow us to remove edge cases like the PyQt methode names (and also e.g. the py.test setUp and tearDown functions)

[2016-06-09 14:18] peterjc opened #54 "Editing project settings for GitHub organisation repositories"
I have access to multiple organisation repositories on GitHub, but do not seem to be able to edit their settings on QuantifiedCode (even when logged in via GitHub).

e.g. https://www.quantifiedcode.com/app/project/gh:biopython:biopython/settings?tab=analysis does not let me edit the "Code Patterns" for https://github.com/biopython/biopython (e.g. to disable *Prefer format() over string interpolati

[2016-06-09 14:22] peterjc commented on #33
I was also looking for a setting as described above to make the QuantifiedCode GitHub PR check less stringent (while ideally still reporting the minor issues for potential cleanup).

[2016-06-13 21:07] adewes commented on #54
Hi Peter,

thanks for your message! I'm working on a synchronization of Github access
permissions, until then you will have to ask your colleague who owns the
repository on QC to add you as a collaborator. Sorry for the inconvenience,
will provide a better solution very soon.

Best
Andreas

On Thu, Jun 9, 2016 at 4:18 PM, Peter Cock <notifications@github.com> wrote:

[2016-06-13 21:09] adewes commented on #33
Hi Peter,

thanks again for bringing this up, I'm working on a less strict pull
request review that will not always show the build status to be failed when
only minor issues have been introduced. I'm currently working on a
completely new algorithm for analysis so I can't spend too much time
working on platform features, I try my best to get this out as soon as
possible though.

Best
Andreas

On Th

[2016-06-13 23:16] peterjc commented on #33
@adewes Thanks!  I've often had to comment on pull requests that I'm happy with the QuantifiedCode results, and not to worry about the "failure" (I don't want the "big red cross" to worry new contributors in particular), so a less strict mode would be very welcome.

[2016-06-13 23:17] peterjc commented on #54
Thanks - I think I know which of our team initially enabled this, and will check with them.

[2016-06-16 18:49] peterjc opened #55 "False positives: Try to start test methods with "test_""
Re: https://www.quantifiedcode.com/app/issue_class/5vXxuyoh and https://docs.python.org/2/library/unittest.html#unittest.TestLoader

In the ``unittest`` framework, test methods are by definition those methods prefixed ``test`` (unless the ``TestLoader`` instance has had ``.testMethodPrefix`` changed).

Thus while it is reasonable to complain about ``def testStuff(self):`` and say it should be name

[2016-06-16 18:52] peterjc commented on #54
I now have admin access to this project via our team member who set this up, but long term using the GitHub access settings would be ideal. Thanks!

[2016-06-23 07:09] asmodehn opened #56 "No feedback on submit button in contact page"
By the way It took me quite some time to find this issue tracker...
Maybe a link in the website would be useful...

Issue :

- I click on the contact link (footer of quantifiedcode.com)
- I click o the submit button
- nothing happens ( maybe just a page reload ? not sure ) => not sure if I sent any message...

Using
[code]

[2016-06-23 07:10] asmodehn opened #57 "Fix it from PR check doesnt target correct branch"
- I make a PR in my github project
- I check my quantifiedcode.com issues.
- I click on the fix it button
- The new PR that gets created in my project target the default repo branch, and not the branch of my original PR.

[2016-06-23 21:07] adewes commented on #56
Dear Alex,

thanks for reporting this, that looks like an issue! I'll check this and get back to you as soon as possible. If you encounter any problems with QC you can always contact me here or via e-mail (andreas@quantifiedcode.com), I'm currently quite busy but always try to respond as soon as possible.

Best
Andreas

[2016-06-28 18:19] lmazuel opened #58 "False positives: Call `__init__` method from base class"
Hello,

For direct inheritance of `object`, this error should not be raised:
[code]

Funny thing is that the example itself does not called "init" of the "object" class:
https://www.quantifiedcode.com/app/issue_class/4MeaWnJD

[2016-06-28 18:20] lmazuel commented on #58
[Example here](https://www.quantifiedcode.com/app/project/7e8a70bc3a1d445b95561f55712fee5a/snapshot/8e7e493a051d4dc89f38de6ceac9fd0e/file/azure-mgmt-web/azure/mgmt/web/operations/provider_operations.py)

[2016-06-28 18:22] lmazuel opened #59 "False positives: Check `__init__` method call, from a non-direct base class"
Hello,

The super class should not raise this error:
[code]

[Example here](https://www.quantifiedcode.com/app/project/7e8a70bc3a1d445b95561f55712fee5a/snapshot/8e7e493a051d4dc89f38de6ceac9fd0e/file/azure-mgmt-web/azure/mgmt/web/models/user.py)

[2016-06-30 16:23] goanpeca opened #60 "Incorrect recommendation for staticmethod that is already a staticmethod"
Hi :-)

I attach a screenshot where QC is giving me a suggestion as if it was a classmethod, but it is already an static method so I think this test has a bug.

![image](https://cloud.githubusercontent.com/assets/3627835/16495898/f3c3fa18-3eb4-11e6-945a-d68a9cc5fb69.png)

[2016-07-06 17:56] adewes commented on #57
Hey @asmodehn , thanks for reporting this, we will fix this with the new release of QC coming next month!

[2016-07-06 17:58] adewes commented on #33
Hey @peterjc , we changed this such that only pull requests with critical or potentially critical issues are marked as failed, whereas for other cases we will just report the number of added & fixed issues. This should make it easier to work with the pull request integration.

We are currently working on making the statuses fully configurable, hope this temporary solution already helps you!

[2016-07-06 22:10] peterjc commented on #33
Great - that sounds like a very useful step forward - thank you.

[2016-07-26 19:11] postelrich opened #61 "Don't see team under access management"
I'm trying to add a team that belongs to my github organization.  When I go to access management for a project and I don't see the team name in the dropdown as I type.

[2016-08-27 23:24] enlite93 opened #62 "The Future of QuantifiedCode"
What happened?

[2016-08-27 23:24] enlite93 commented on #62
Thank you for your service :+1:

[2016-08-28 20:21] CarstVaartjes commented on #62
I also asked for some clarification on twitter, but there's no response at all unfortunately. On linkedin you can see one of co-founders left a while back... :/
Really liked it, so for me it's a shame. For a paid service, I would like at least a bit more explanation, suggestions for alternatives for its users etc...

[2016-08-28 21:26] enlite93 commented on #62
Possible alternatives I've not tried yet

 * https://landscape.io

[2016-08-29 20:41] adewes commented on #62
Hey, thanks for reaching out! I will be sending out information regarding the shutdown. Basically it's just not profitable as there is not enough revenue coming in through the site that justifies the investment in time.

I have been working on an OS version of the site, if I can find people to contribute to that I'll publish it after shutting down the main service, so you'll be able to host it you

[2016-08-29 20:43] adewes commented on #62
Thanks in any case @CarstVaartjes for being one of our earliest and most loyal customers, please don't hesitate to reach out if I can help you to find an alternative to our service (same for you @enlite93).

[2016-08-29 20:52] CarstVaartjes commented on #62
Hi @adewes,

I can perfectly understand the reason (my complaint was mostly that it was a bit sudden and without any further explanation). I know you guys have put a *lot* of effort in it and I really liked it so i'm sad to see it go. I hope the best for all of you.
An OS version would be great as I think that some of the elements were really better than other solutions out there (and the ability

[2016-08-29 21:19] adewes commented on #62
We can possibly extend the shutdown period by a month or two to make the transition easier.

I worked on an initial OS version of checkmate (the tool we use in the backend) and the frontend + API, which is in a good state already. I'm looking for contributors and testers, if you're interested in either one just let me know, will contact you as soon as we're moving ahead with this then.

[2016-09-07 13:38] itsthejoker commented on #62
I'm down for testing a self-hosted version if you still need people. Thanks for the service; I recommended it a lot.

[2016-09-08 15:02] CarstVaartjes commented on #62
Hi,

extending it would be nice but if it runs you into a lot of additional costs, i would not want to do that to you. We're definitely interested in testing any OS version and will contribute if needed (resources are tad constraint so it would be some evening hours stuff from me ;)

[2016-10-05 16:54] benroeder opened #63 "auto fix for == to is is broken if code is ==None"
If you fix the code ==None you get isNone not is None

foo ==None
results in
foo isNone
not
foo is None
The space is missing

[2016-10-06 14:34] benroeder commented on #63
this looks like #51

[2016-10-11 13:42] benroeder commented on #51
any news on the fix ?

[2016-10-11 19:38] adewes commented on #51
Hey @benroeder , sorry for the delay, I'll have a look at this in the coming days and get back to you!

Best
Andreas

[2016-10-11 22:18] adewes commented on #51
Dear @benroeder , I just deployed a fix for this issue, please let me know if this fixes your problems! Sorry again for the delay, if you have any other problems please don't hesitate to contact me directly via e-mail at andreas@quantifiedcode.com

Best
Andreas

[2016-11-01 10:42] ismailsunni commented on #62
Ouch, I find this great tool in the extended period...

Anyway, it's a cool tool.

[2016-11-10 15:20] matthewdeanmartin opened #64 "Can't trigger a pull request"
My repo is an organization repo.  I let QC grant itself rights & deleted/created the hook. The pull request seems to do nothing. I can't find where to grant it more rights.

The default branch is called future (the old master is no longer the default) I don't know if that is relevant or not.

Certain refactorings aren't worth doing unless a machine does it, e.g. chaning 1000s of % to format().

Th

[2016-11-10 16:29] adewes commented on #64
Hey Matthew, thanks for reporting this! Do you mean Cody is not able to open a pull request on Github? Did you receive a patch via e-mail instead?

If it's an organization repository you might need to grant QuantifiedCode access to that organization. You can do this by going to the "Authorized Applications" menu in the settings (https://github.com/settings/connections/applications), then clicking

[2016-11-10 19:22] matthewdeanmartin commented on #64
I can't see any way to grant it more rights. ![screenshot](https://s16.postimg.org/yi1vsgxhh/Screen_Shot_2016_11_10_at_2_20_08_PM.png)

[2016-11-10 19:23] matthewdeanmartin commented on #64
How do I get a patch? I checked my email, no such notifications of a patch.

[2016-11-10 22:05] adewes commented on #64
I just tested it on my own repository, which seems to work. I saw that some auto-fixes take a long time and run into the timeout of our background task, which I increased. Can you try to trigger a fix again, possibly for another type of issue? I just triggered a fix for several other issues, so there should be PRs opened on Github for them soon. If this isn't the case please let me know and I'll l

[2016-11-10 22:13] matthewdeanmartin commented on #64
My guess it is because it is an organization and/or because the default branch isn't called master, it's called 'future'.

I've been trying this periodically for the last few weeks, so if these are taking a long time, then they take longer than a week and by that time, a PR is going to be so far behind it will be merge conflict city.

The log only ever shows "Analysis"- it shows no evidence of att

[2016-11-10 22:23] matthewdeanmartin commented on #64
Okay, I trigger it for a fix for 1 isssue in 1 file to avoid scale problems. For the first time ever, a PR appeared with 6 issues in 6 files. The autofixer ignores the .checkignore file. Is this feature expected to work?

[2016-11-16 23:10] dopplershift opened #65 "Status changes from success to failure after PR merge"
After I merge a Pull Request (which is set to use GitHub's "Rebase and Merge" functionality), the status on the last commit changes to failure with the message "We cannot find the commit for this pull requests." You can see an example here:
https://github.com/Unidata/MetPy/pull/252

Github's details on the merge however gives a link that works fine:
https://www.quantifiedcode.com/app/project/gh:Un

[2016-11-17 12:15] adewes commented on #65
Thanks for reporting this! It seems that we have trouble finding merge commits for pull requests for which you delete the branch and rebase them on top of your master branch. I disabled analysis of merged pull requests, this should fix the problem. Please feel free to close this issue if you think the problem is solved indeed, if not please ping me again.

[2016-11-18 16:13] dopplershift commented on #65
Thanks, that seems to be giving me what I want.

[2016-11-18 16:13] #65 closed

[2016-11-18 18:21] fernandog commented on #48
no reply

[2016-11-18 18:21] #48 closed

[2016-11-23 15:40] sbrunner opened #66 "Prefer static methods over instance methods looks to be buggy"
Here he don't detect the `@staticmethod`
https://www.quantifiedcode.com/app/project/gh:sbrunner:tilecloud?groups=code_patterns%3A7I7lGdCx%3Af0%3Ao10

[2016-11-24 09:56] adewes commented on #66
Thanks for reporting this @sbrunner , there was indeed an edge case that wasn't accounted for in the pattern, which I fixed! I triggered a reset of your project, the pattern should now correctly match the staticmethod decorator. Please close this issue if you think the problem is resolved, and please let me know if it isn't.

[2016-11-24 13:20] sbrunner commented on #66
Thanks @adewes :-)

[2016-11-24 13:20] #66 closed

[2016-11-25 23:05] adewes commented on #63
Hey @benroeder , issue #51 was fixed a while ago. If you think the problem is solved feel free to close the issue, otherwise please contact me!

[2016-12-11 20:11] mathuin opened #67 "Lines using reverse() trigger "Use reverse() instead of hard-coded URL" error"
I have a Django app with the following method on one of its models:

[code]

This code triggers the error "Use reverse() instead of hard-coded URL".

Also, the error message has some typos in it:

"Try to use revers() instead of hard-coding the url to ensure it is correctly set and valid."

Should be reverse() and URL.

[2016-12-13 21:09] adewes commented on #67
Thanks for reporting this, it seems to be an error indeed, I fixed the pattern. Please reset your analysis to see the changes, and feel free to close this issue if you think the problem is resolved.

[2016-12-14 18:42] mathuin commented on #67
Thank you for responding quickly!  The problem appears to be resolved.

[2016-12-14 18:42] #67 closed

[2017-01-27 14:35] peterjc commented on #62
I'm grateful that is has continued as long as it has, but I realise that October 2016 has passed and we're into 2017 now - is QuantifiedCode still expecting to shut down @adewes? There is no obvious mention of this on the main webpage.

[2017-01-27 16:17] adewes commented on #62
Hey @peterjc , thanks for your message!

The service will keep running for now and I will release an OS version soon, probably in February (it's already finished but I need to clarify a few formal things before releasing it).

Hence you should be able to use the online service for longer and soon you will have the possibility to install a local version of QuantifiedCode on your own infrastructure.

[2017-01-27 16:22] peterjc commented on #62
That's great news. Maybe close this issue, or at least re-title it? Thanks!

[2017-01-27 16:45] robphoenix opened #68 "changed Github username"
I've recently changed my Github username and now can't access my previous repos

[2017-01-27 17:05] adewes commented on #68
Hey Rob, sorry to hear that. What was your previous Github username if I may ask?

[2017-01-27 17:18] robphoenix commented on #68
no worries, bordeltabernacle

[2017-01-28 10:43] adewes commented on #68
@robphoenix , I transferred ownership of the projects to your new Github account. You need to confirm this in your settings (tab "pending ownership transfers"). Please let me know if your run into any kind of problem.

[2017-01-28 10:49] adewes commented on #62
Done!

[2017-01-28 10:49] #62 closed

[2017-01-30 21:41] robphoenix commented on #68
Yes, that's worked, thankyou. Was this perhaps my fault in the first place, could I have revoked access on my old github username account and then re-added it?

[2017-01-30 21:47] adewes commented on #68
Yes that would have been possible, though I would say it's never your fault, as we simply didn't take this into account when designing the system.

[2017-01-30 21:47] #68 closed

[2017-01-30 21:51] robphoenix commented on #68
Well it's not a regular occurrence I imagine. Thanks for sorting this out so quickly. And thanks  for building this, I find it really useful and it's contributed to making me a better programmer for sure. 👍

[2017-01-31 08:44] adewes commented on #68
Thanks @robphoenix , really appreciate your great feedback!

[2017-02-05 15:58] jcrmatos opened #69 ""Consider splitting your assert statements" doesn't consider all/any"
Hello,

"Consider splitting your assert statements" doesn't consider all/any.
If it recommends splitting on
assert a and b
assert a or b
it should also recommend splitting when the following shows up:
assert all(a, b)
assert any(a, b)

Keep up the good work.

Best regards,

JM

[2017-02-13 13:11] mcrowson opened #70 "Project Scheduled for Deletion, Cannot Add it back"
I cannot add a project. I get the message that it was scheduled for deletion and try back in a few minutes. That was 12 hours ago and I still get the same message.

https://github.com/mcrowson/flask-sessionstore

## Steps to Reproduce
Forked a project (flask-session)
Renamed the project (flask-sessionstore)
Renamed the project (flask-sessionstore-fork)
Created a new project with the name flask-ses

[2017-02-14 16:07] adewes commented on #70
@mcrowson seems like our deletion queue had a little hiccup, it should work again! If it doesn't please let me know, will immediately look into it then.

[2017-02-14 16:08] adewes commented on #70
Oh and please feel free to close this issue if you think the problem is resolved.

[2017-02-14 16:33] mcrowson commented on #70
It allowed me to add it. And don't I know about queue issues :D

[2017-02-14 16:33] #70 closed

[2017-02-15 07:44] MarkusHackspacher opened #71 "QC does not search in all files"
In this project show QC only faults of two files.
https://www.quantifiedcode.com/app/project/gh:MarkusHackspacher:TreeNote

But there are more than two files to look.
I add this project last week new in QC.

[2017-02-15 17:54] adewes commented on #71
Hey @MarkusHackspacher , as far as I can see from the logs (https://www.quantifiedcode.com/app/project/13b983c23dbb466fa7d93b712e052780/tasks) all files have been analyzed. Is there something that you would expect to show up and that doesn't?

[2017-02-15 20:43] MarkusHackspacher commented on #71
For example, I miss the fault "Consider documenting your class(es)" and "Consider documenting your function(s)" form file https://github.com/MarkusHackspacher/TreeNote/blob/master/treenote/main.py

[2017-02-15 21:23] adewes commented on #71
Ah, this might be due to the fact the the default patterns only raise an error if the function or class has more than 3 statements (I think), as it would otherwise lead to a lot of issues for functions and classes that might be self-explanatory. You can of course create your own code check for that if you like.

[2017-02-26 14:56] cjwelborn commented on #55
I've seen this too, with a helper method. I thought it was because it contained an `self.assert*` call in it. The helper method can cause a test to fail (everything would fail if this helper method failed), but it's not a test itself, and naming it `test_helpermethod` is not the answer.

[2017-03-16 19:59] dopplershift opened #72 "Exclude certain branch?"
Is there any way to tell QuantifiedCode to ignore a particular branch? In this case, I'm talking specifically about my gh-pages branch, which would probably be good to blacklist by default anyway.

[2017-03-18 01:02] datfinhon commented on #72
i dont know

[2017-03-20 14:41] adewes commented on #72
Hey @dopplershift , currently this is not possible, we're working on a CE edition that will support this though!

[2017-04-09 16:01] ssokolow opened #73 "Spurious "Avoid using "non-Pythonic" variable names" when assigning a class to a variable"
I get two QuantifiedCode minor issue warnings from the `Request` assignments in this block, but I can't follow QuantifiedCode's suggested fix because it'll cause Landscape.io, Scrutinizer, and Code Climate to yell at me for not following PEP8 convention for references to classes.

[code]

If you have trouble reproducing, here's the repo in question:
https://github.com/ssokolow/get_user_headers

[2017-04-09 16:11] ssokolow opened #74 "Spurious "Avoid "non-Pythonic" method names" when overriding in a subclass"
QuantifiedCode complains about method names outside my control when I'm subclassing `BaseHTTPRequestHandler`.

[code]
[code]
[code]
[code]

In case you're having trouble reproducing, here's the repo:
https://github.com/ssokolow/get_user_headers

[2017-05-04 09:14] #27 closed

[2017-06-29 14:07] AnupKumarGupta opened #75 "Repeated word in the introduction"
QuantifiedCode is the first code `code` review platform that actually fixes issues, instead of just reporting them.

Is this an intentional repetition ?